body {
    font-family: Arial, Sans;
    margin-bottom: 50px;
}

.button {
    font-size: 16px;
    display: block;
    width: 180px;
    padding: 10px 0;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.a {
    display: inline-block;
    font-family: Arial, Sans;
    background-color: hsl(220, 12%, 95%);
    color: hsl(220, 12%, 50%);
    margin: 2px 0;
    width: 381px;
}

.a:hover {
    background-color: hsl(120, 22%, 46%);
    /*border: 2px solid hsl(220, 12%, 50%);*/
    color: hsl(0, 100%, 100%);
}

.g {
    font-family: Arial, Sans;
    background-color: hsl(220, 12%, 50%);
    color: hsl(0, 0%, 100%);
    transition: background .5s;
    margin: 10px auto;
}

.g:hover {
    background-color: hsl(226, 15%, 28%);
    color: hsl(0, 0%, 100%);
    transition: background .5s;
}

#container {
    width: 768px;
    margin: auto;
}

h2 {
    text-align: center;
    background: hsl(120, 22%, 66%);
    transition: background 0.3s;
}

.item {
    margin: 5px auto;
    border: 3px solid hsl(224, 17%, 53%);
    /*min-height: 117px;*/
}

.highlighted {
    background: hsl(120, 22%, 90%);
    border: 3px solid hsl(120, 22%, 46%);
}

#filters, h1 {
    text-align: center;
}

.hidden {
    display: none;
}

.description {
    padding: 0 30px;
    text-align: justify;
    font-size: 18px;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.highlight {
    background: hsl(120, 22%, 46%);
    color: white;
    transition: background 0.3s;
}

.price-div {
    text-align: center;
}

input {
    width: 60px;
    text-align: center;
}

.price-div p {
    padding: 8px 0;
}

label, input, .price-div p {
    font-size: 20px;
}



@media screen and (max-width: 768px) {
    #container {
        width: 100%;
    }

    .button {
        font-size: 20px;
        width: 100%;
    }

    .description {
        font-size: 24px;
    }
}