body {
    font-family: Arial, Sans;
    font-size: 0.9em;
    margin-bottom: 50px;
}

.button {
    display: block;
    width: 160px;
    padding: 10px 0;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.a {
    display: inline-block;
    font-family: Arial, Sans;
    font-size: 14px;
    background-color: hsl(0, 100%, 100%);
    color: hsl(220, 12%, 50%);
    border: 2px solid hsl(220, 12%, 50%);
}

.a:hover {
    background-color: hsl(220, 12%, 50%);
    border: 2px solid hsl(220, 12%, 50%);
    color: hsl(0, 100%, 100%);
}

.g {
    font-family: Arial, Sans;
    background-color: hsl(220, 12%, 50%);
    color: hsl(0, 0%, 100%);
    transition: background .5s;
    margin: 10px auto;
}

.g:hover {
    background-color: hsl(226, 15%, 28%);
    color: hsl(0, 0%, 100%);
    transition: background .5s;
}

#container {
    width: 400px;
    margin: auto;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

.item {
    margin: 5px auto;
    border: 1px solid hsl(224, 17%, 53%);
    min-height: 117px;
}

.highlighted {
    background: hsl(221, 25%, 95%);
    border: 1px solid hsl(224, 17%, 53%);
}

#filters {
    text-align: center;
    font-size: 18px;
}

.hidden {
    display: none;
}

.description {
    padding: 0 10px;
    text-align: justify;
    font-size: 16px;
}